<div class="perfil-container">
  <app-navbar></app-navbar>
  <section class="perfil-header">

    <div class="perfil">

    </div>

    <div class="infos">
      <h2>Matue da Silva <span class="nivel">Nível: BRONZE</span></h2>
      <p class="data-entrou">Entrou em: 23/04/2025</p>
    </div>
  </section>

  <section class="atividade">

    <div class="box quiz">

      <div class="icone">
        <img src="ceara.svg" alt="Escudo" />
      </div>

      <div class="conteudo">
        <h3>Quiz #1 - A História do Ceará SC</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus doloremque laborum excepturi! Asperiores optio est facilis officiis nisi voluptatum nostrum accusantium, debitis dolorum omnis doloribus quia, vel et? Deleniti, dolores.</p>
      </div>

    </div>

    <div class="box palpite">

      <div class="icone">
        <img src="ceara.svg" alt="Escudo Ceará" />
      </div>

      <div class="conteudo">
        <p>Matue Palpitou no Jogo entre CEARÁ x PALMEIRAS</p>
      </div>

    </div>
  </section>
</div>
