body
  margin: 0
  font-family: Arial, sans-serif


.perfil-container
  background-color: #1c1c1c
  color: white
  min-height: 100vh
  padding: 0
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow-y: auto


.perfil
  width: 200px;
  height: 200px;
  margin-left: 1.5rem;

  background-size: cover;
  background-position: center;

  mask-image: url("../../../../public/ceara.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("../../../../public/ceara.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;


.atividade
  padding: 0 2rem 2rem 2rem

.box
  background-color: #7d48b1
  border-radius: 16px
  display: flex
  padding: 1rem
  margin-bottom: 1.5rem


.infos
  background-color: #a87dd3;
  width: 500px;
  border-radius: 10px;
  position: absolute;
  top: 23%;
  left: 17%

.infos h2 
  margin: 1.5rem;
  font-size: 1.5rem;

.box.quiz
  background-color: #a87dd3


.icone
  width: 60px
  margin-right: 1rem
  display: flex
  align-items: flex-start

.nivel 
  font-size: 0.75rem;
  color:#d8a109
  margin-left: 10px;
  text-shadow: #000 2px 2px 2px;

.data-entrou
  margin: 1.5rem;

.icone img
  width: 100%

.conteudo h3
  margin: 0
  font-size: 1.1rem
  color: white

.conteudo p
  margin-top: 0.5rem
  font-size: 0.95rem
  color: #eee

@media (max-width: 768px)
  .perfil-header
    flex-direction: column
    align-items: center
    text-align: center

  .foto
    margin: 0 0 1rem 0
    background-color: #FFFFFFF

  .box
    flex-direction: column
    align-items: center
    text-align: center

  .icone
    margin-bottom: 1rem

.data-entrada
  margin: 1.5 rem;