<div class="perfil-container">
  <app-navbar></app-navbar>

  <section class="perfil-header" *ngIf="usuario">
    <div class="perfil-info">

      <div class="foto-wrapper" (click)="fileInput.click()">
        <img [src]="usuario.foto || 'ceara2.png'" alt="Foto do usuário" class="foto">
        <div class="upload-overlay">
          <i class="fa-solid fa-camera"></i>
        </div>
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
      </div>
      <div class="infos">
        <h2>
          <i class="fa-solid fa-user"></i>
          {{ usuario.nome }}
        </h2>
        <p>
          <i class="fa-regular fa-calendar"></i>
          Entrou em: {{ usuario.data_entrada | date:'dd/MM/yyyy' }}
        </p>
      </div>
    </div>

    <button class="logout-btn" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Sair
    </button>
  </section>

  <section class="atividade" *ngIf="usuario?.historico?.length">
    <div *ngFor="let item of usuario.historico" class="box" [ngClass]="item.tipo">
      <div class="icone">
        <img src="quiz.png" alt="Ícone" *ngIf="item.tipo === 'quiz'">
        <img src="ideas.png" alt="Ícone" *ngIf="item.tipo === 'palpite'">
      </div>
      <div class="conteudo">
        <h3 *ngIf="item.titulo">{{ item.titulo }}</h3>
        <p>{{ item.descricao }}</p>
      </div>
    </div>
  </section>

</div>