<div class="container">
  <app-navbar></app-navbar>

  <section class="home-content">
    <h2>Elenco Atual</h2>
    <div class="jogadores">
      <div class="card-jogador" *ngFor="let jogador of jogadores">
        <img [src]="jogador.foto" alt="{{ jogador.nome }}">
        <h3>{{ jogador.nome }}</h3>
        <p>Posição: {{ jogador.posicao }}</p>
        <p>Idade: {{ jogador.idade }} anos</p>
      </div>
    </div>

    <h2>Últimos Jogos</h2>
    <div class="jogos">
      <div class="jogo" *ngFor="let jogo of jogos">
        <p><strong>{{ jogo.data }}</strong></p>
        <p>{{ jogo.time_casa }} {{ jogo.placar }} {{ jogo.time_visitante }}</p>
      </div>
    </div>
  </section>
</div>
