.container
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  padding: 0;
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh

.box 
  background-color: #7d48b1;
  border-radius: 16px;
  display: flex;
  padding: 1rem;
  margin-bottom: 1.5rem;


.box.quizzes
  width: 900px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  
.mascot
  position: fixed
  right: 0
  bottom: 0
  width: 200px

  .mascot
    display: none;



