<div class="container-global">
  <app-navbar></app-navbar>

  <div class="timeline-container">
    <div class="timeline-vertical">
      <div *ngFor="let evento of eventos; let i = index"
           class="container-timeline-item"
           [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0}">
        <div class="content-box">
          <div class="card-header">
            <img [src]="evento.img" [alt]="'Imagem do ano ' + evento.ano">
            <h2>{{ evento.ano }}</h2>
          </div>
          <div class="card-content">
            <p>{{ evento.descricao }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
