<div class="container">
    <app-navbar></app-navbar>
    <div class="timeline-container">
    <div class="timeline-line"></div>

    <div class="event" style="left: 0%;">
      <img src="escudo1914.svg" alt="Escudo 1914">
      <div class="dot"></div>
      <div class="year">1914</div>
    </div>

    <div class="event" style="left: -8%;">
      <img src="escudo1915.svg" alt="Escudo 1915">
      <div class="dot"></div>
      <div class="year">1915</div>
    </div>

    <div class="event" style="left: 0%;">
      <img src="escudo1955.svg" alt="Escudo 1955">
      <div class="dot"></div>
      <div class="year">1955</div>
    </div>

    <div class="event" style="left: 5%;">
      <img src="escudo1969.svg" alt="Escudo 1969">
      <div class="dot"></div>
      <div class="year">1969</div>
    </div>

    <img class="mascot" src="Vovô - Museu.svg" alt="Mascote Vovô">
  </div>
</div>
