*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: sans-serif

.background
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: repeating-linear-gradient(
    90deg,
    black 0%,
    black 15%,

    white 15%,
    white 25%,

    black 25%,
    black 35%,

    white 35%,
    white 45%,
    
    black 45%,
    black 55%,
    
    white 55%,
    white 65%,
    
    black 65%,
    black 75%,

    white 75%,
    white 85%,
    
    black 85%,
    black 100%
  )
  display: flex
  justify-content: center
  align-items: center

.login-card
  background: #3f3f3f
  padding: 32px
  border-radius: 20px
  width: 320px
  box-shadow: 0 10px 30px #0a0a0a
  text-align: center

.logo
  width: 90px
  height: auto
  margin-bottom: 10px

form
  display: flex
  flex-direction: column
  gap: 12px

label
  color: #ccc
  font-size: 16px
  text-align: left
  margin-bottom: -8px
  margin-top: 6px
  text-transform: uppercase

input
  padding: 12px
  border-radius: 10px
  border: 2px solid transparent
  outline: none
  font-size: 17px
  background-color: #555
  color: white
  transition: border-color 0.3s ease

  &:focus
    border-color: white

.forgot-password
  color: #bbb
  text-decoration: none
  text-align: left
  font-size: 14px
  margin-top: -3px
  transition: color 0.2s ease

  &:hover
    color: white

.button-group
  display: flex
  justify-content: space-between
  gap: 10px
  margin-top: 10px


button
  flex: 1
  padding: 10px
  border-radius: 10px
  font-weight: bold
  font-size: 15px
  cursor: pointer
  transition: all 0.3s ease
  border: 2px solid black

  &[type="submit"]
    background-color: black
    color: white

    &:hover
      background-color: #222
      border-color: #222

  &[type="button"]
    background-color: transparent
    color: white
    border: 2px solid #888

    &:hover
      background-color: white
      color: black
      border-color: white
