<div class="background">
  <div class="login-card">
    <img src="ceara2.png" alt="Logo Ceará" class="logo" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="login">USERNAME</label>
      <input id="login" type="text" formControlName="username"/>

      <label for="senha">SENHA</label>
      <input id="senha" type="password" formControlName="senha"/>

      <a href="#" class="forgot-password">Esqueceu sua senha?</a>

      <div class="button-group">
        <button type="submit">Entrar</button>
        <button type="button" (click)="goToRegister()">Registrar</button>
      </div>
    </form>

  </div>
</div>
